/* Home */
.App {
  position: relative;
  width: 1440px;
  height: 1058px;

  background: #F9F9F9;
}


/* Header */
.App-header {
  position: absolute;
  width: 1440px;
  height: 120px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
}

/* Search */
.App-search{
  position: absolute;
  height: 50px;
  left: 520px;
  top: 35px;
}

.bsignin{
  position: absolute;
  left: 1195px;
  top: 35px;
  
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  
  display: flex;
  align-items: center;
  text-align: center;
  
}
/* Button Sign up */
.bsignup{
  position: absolute;
  left: 1289px;
  top: 35px;

}
.tsignup{
  position: absolute;
  width: 64px;
  height: 25px;
  left: 20px;
  top: 10px;

  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
}
/* Filter */
.App-filter{
  position: absolute;
  width: 460px;
  height: 1058px;
  left: 0px;
  top: 60px;

  mix-blend-mode: normal;
  background: #FFFFFF;
}
.buttong{
  position: absolute;
  width: 100px;
  height: 50px;
  left: 50px;
  top: 215px;
}

.rent{
  position: absolute;
  width: 144px;
  height: 33px;
  left: 50px;
  top: 160px;

  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.dates{
  position: absolute;
  left: 50px;
  top: 355px;

}
.dates2{
  position: absolute;
  width: 375px;
  height: 50px;


  background: rgba(196, 196, 196, 0.25);
  border-radius: 5px;
}
.proper{
  position: absolute;
  width: 174px;
  height: 33px;
  left: 50px;
  top: 440px;

  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.bproper{
  position: absolute;
  width: 55px;
  height: 40px;
  left: 50px;
  top: 512px;
}
.room{
  position: absolute;
  width: 61px;
  height: 19px;
  left: 50px;
  top: 483px;

  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #929292;
}
.font{
  position: absolute;
  width: 79px;
  height: 24px;
  left: 50px;
  top: 906px;

  font-family: Avenir;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.ibudget{
  position: absolute;
  width: 237px;
  height: 50px;
  left: 183px;
  top: 894px;

  background: rgba(196, 196, 196, 0.25);
  border-radius: 5px;
}
.bapply{
  position: absolute;
  width: 140px;
  height: 50px;
  left: 285px;
  top: 984px;

  background: #5A57AB;
  border-radius: 5px;
}

/* Content */
.App-content{
  position: absolute;
  width: 980px;
  height: 851px;
  left: 460px;
  top: 120px;
}
.content{
  position: absolute;
  width: 290px;
  height: 240px;
  left: 0px;
  top: 0px;

  border: 3px solid rgba(196, 196, 196, 0.25);
  box-sizing: border-box;
  border-radius: 5px;
}
.image{
  position: absolute;
  width: 270px;
  height: 160px;
  left: 8px;
  top: 10px;
}
.tagscontent{
  position: absolute;
  width: 70px;
  height: 20px;
  left: 17px;
  top: 16px;

  background: #FFFFFF;
  border-radius: 3px;
}
.ttagscontent{
  position: absolute;
  width: 49px;
  height: 12px;
  left: 25px;
  top: 5px;

  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 9px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.tharga{
  position: absolute;
  width: 83px;
  height: 18px;
  left: 11px;
  top: 180px;

  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.tinfo{
  position: absolute;
  width: 114px;
  height: 12px;
  left: 11px;
  top: 202px;

  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 9px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.talamat{
  position: absolute;
  width: 134px;
  height: 12px;
  left: 11px;
  top: 217px;

  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 9px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #A8A8A8;
}




