.fBudget{
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
}
.fFacility{
  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 11px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
}
.fAddress{
  font-family: Avenir;
  font-style: normal;
  font-size: 9px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
}
.date{
  position: absolute;
  height: 50px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  line-height: 33px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  border-radius: 5px;
}
.proper{
  position: absolute;

  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

}
.idr{
  font-family: Avenir;
  font-size: 18px;
  line-height: 21px;
  display: flex;
}
.fTipis{
  font-family: Avenir;
font-size: 12px;
align-items: center;

color: #959595;
}
.fBooking{
  font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 49px;
}
.fBookingTgl{
  font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 25px;
/* identical to box height */

align-items: center;

color: #878787;
}

.fUpload{
  font-family: Avenir;
font-size: 13px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;

color: #818181;

}
.fFontLabel{
  height: 20px;

  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  display: flex;
  align-items: center;

  /* Black */

  color: #050505;
}
.fFontGroup{
  height: 16px;

  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;

  /* Grey Medium */

  color: #8A8C90;
}

.fImage{
  width: 180px;
  height: 345px;

  background-blend-mode: normal;
}

.fContentTittle{
height: 66px;


font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 66px;
/* identical to box height */

display: flex;
align-items: center;

color: #000000;
}

.fContentBudget{
height: 33px;


font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 33px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #000000;
}

.fContentAddress{
width: 290px;
height: 34px;
left: 226px;
top: 856px;

font-family: Avenir;
font-size: 13px;
line-height: 15px;
display: flex;
align-items: center;

color: #A8A8A8;
}

.fContentDeskripsi{
height: 23.68px;


font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}

.fContentDeskripsiIsi{
width: 971.03px;
height: 112.74px;


font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 14px;
line-height: 19px;

color: #A8A8A8;

}

.fContentRoom{
height: 17px;


font-family: Avenir;
font-size: 13px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;

color: #A8A8A8;
}

.fContentRoomIsi{
height: 24px;


font-family: Avenir;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}
